# ###############################################共通項目###############################################
# __pycache__ディレクトリを無視
/__pycache__/

# logディレクトリを無視
/log/

# serverディレクトリを無視
/server

# phantomjsディレクトリを無視
/phantomjs-2.1.1-windows

# envディレクトリを無視
/env
# ###############################################個別項目###############################################
# common_functionsディレクトリを無視
/common_functions/

# csvディレクトリを無視
/csv
# ###############################################拡張子#################################################
# .dbファイルを無視
.db

# .csvファイルを無視
.csv

# .txtファイルを無視
.txt

# .jsonファイルを無視
.json

# .pngファイルを無視
.png

# .logファイルを無視
.log

# .exeファイルを無視
.exe